@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Poppins', sans-serif;
}

body {
    background: linear-gradient(105deg, #f2d096 0%, #ed8975 100%);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    background-color: #fff;
    box-shadow: 0 15px 30px rgba(0,0,0,0.3);
    width: 50vw;
    padding: 30px 40px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.new-task-container {
    width: 500px;
    max-width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.input-task {
    padding: 10px 25px;
    border: 1px solid #000;
    border-radius: 10px;
    font-size: 1em;
    background-color: #ddd;
    max-width: 70%;
}

.input-task:focus {
    box-shadow: 0 15px 30px rgba(0,0,0,0.3);
    outline: none;
    border: 2px solid #05ac05;
}

.btn-submit {
    padding: 10px;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
    background-color: #304d63;
    color: #fff;
    border: 1px solid #000;
    border-radius: 10px;
    box-shadow: 0 15px 30px rgba(0,0,0,0.3);
}

.btn-submit:hover {
    background-color: #1d3d55;
    color: #fff;
    box-shadow: none;
}

.btn-submit:disabled {
    background-color: #ccc;
    color: #aaa;
    border: none;
    cursor: auto;
    box-shadow: none;
}

.btn-submit:disabled:hover{
    background-color: #ccc;
    color:#aaa;
}

.tasks-container {
    padding: 10px;
    width: 500px;
    max-width: 90%;
}

.task-item {
    justify-content: space-between;
    padding: 5px 0;
    position: relative;
    display: flex;
    align-items: center;
}

.checkbox-item {
    cursor: pointer;
}

.checkbox-item:checked {
    color: #0000ff;
}

.text-item {
    display: flex;
    width: 70%;
    height: 100%;
    align-items: center;
    position: absolute;
    left: 15px;
    cursor: pointer;
    font-size: 1.1em;
}

.completed {
    text-decoration: line-through;
}

.buttons-container {
    display: flex;
    justify-content: space-between;
    width: 25%;
    gap: 5px;
}

.buttons-container button {
    font-size: .9em;
}

.btn-delete {
    background-color: #ff0000;
    border: 1px solid #000;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
}

.btn-edit {
    background-color: #074ac7;
    border: 1px solid #000;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
}



@media screen and (max-width: 768px) {
    .container {
        padding: 10px 20px;
    }

    .new-task-container{
        display: flex;
        flex-direction: column;
        padding: 0;
    }

    .tasks-container {
        padding: 0;
    }

    .buttons-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 25%;
    }

    .input-task {
        max-width: 90%;
    }

    .btn-submit {
        width: 90%;
    }

    .text-item {
        display: flex;
        width: 70%;
        height: 100%;
        align-items: center;
        position: absolute;
        font-size: 1em;
        overflow: scroll;
    }
}
